<!doctype> 

<html> 
  <head> 
  <title>ROCK PAPER SCISSORS LIZARD SPOCK</title>
  <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="/css/reset.css">
  <link type="text/css" rel="stylesheet" href="/css/application.css">
  </head>

  <body>
    <h1>ROCK PAPER SCISSORS LIZARD SPOCK AND THE ALMIGH-T</h1>
    
    <h2>Pick a move against the computer!</h2>
    <div class='choices'>
      <img src="/images/rock.png" data-pick="rock">
      <img src="/images/paper.png" data-pick="paper">
      <img src="/images/scissors.png" data-pick="scissors">
      <img src="/images/lizard.png" data-pick="lizard">
      <img src="/images/spock.png" data-pick="spock">
      <img src="/images/tiffanie.png" data-pick="tiffanie">
    </div>

    <div id="playerresults"> </div>

    <ul id="results"></ul>

    <script src='/javascript/lib/RockPaperScissors.js'></script>
    <script src='http://code.jquery.com/jquery-2.1.0.min.js'></script> 

  <script> 
    $(document).ready(function(){
      var p1 = new Player ('Human');
      var p2 = new Player ('Computer');
      var game = new Game(p1, p2);



      $('.choices img').on('click', function(){
        p1.picks($(this).data('pick'));
        p2.computerrandom();
        game.winner();
        $('#playerresults').html(game.message());
        var latestresult = $('<li>' + game.playmessage() + '</li>');
       latestresult.prependTo('#results').hide().slideDown();
       $('#results li:nth-child(6)').fadeOut(function(){
       $(this).remove();
       });

      });

    });
    </script>

  </body>
</html>
